[submodule "modules/repo"]
	path = modules/repo
	url = https://github.com/kiss-community/repo.git
[submodule "modules/community"]
	path = modules/community
	url = https://github.com/kiss-community/repo-community.git
[submodule "modules/sauzer"]
	path = modules/sauzer
	url = https://github.com/sauzerOS/repo.git
[submodule "modules/eudaldgr"]
	path = modules/eudaldgr
	url = https://github.com/eudaldgr/kiss-repo
[submodule "modules/periish"]
	path = modules/periish
	url = https://github.com/periish/kiss-all
[submodule "modules/kisslinux"]
	path = modules/kisslinux
	url = https://github.com/kisslinux/repo.git
[submodule "modules/ioraff"]
	path = modules/ioraff
	url = https://github.com/ioraff/kiss-personal.git
[submodule "modules/dilyn"]
	path = modules/dilyn
	url = https://github.com/dilyn-corner/KISS-me.git
[submodule "modules/noir"]
	path = modules/noir
	url = https://github.com/noirlinux/main.git
[submodule "modules/python"]
	path = modules/python
	url = https://github.com/kiss-community/community.git
